@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Source+Sans+Pro:400,400i,700');


$sans: 'Source Sans Pro', sans-serif;
$serif: 'Merriweather', Georgia, serif;

$transition: all .2s ease;

$max-width: 50rem;
$break: 900px;

$primary-color: #0071bc;
// $primary-color: #007DA3; // color contrast AA
// $primary-color: #005E7A; // color contrast AAA

body {
  font-family: $sans;
  padding: 0 0 3.5rem;
  margin: 0;
  line-height: 1.5;
  font-size: 120%;
  @media print {
    font-size: 10pt;
    line-height: 1.4;
  }
}
* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  color-adjust: exact;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

p {
  page-break-after: avoid;
}

h1, h2, h3, h4, h5, p, li,
blockquote
img,
table,
figure {
  page-break-inside: avoid;
}

a {
  color: $primary-color;
  @media print {
    text-decoration: none;
    color: inherit;
  }
}

ul {
  list-style: disc;
  &:not(.checklist) {
    font-style: italic;
    @media screen {
      color: $primary-color;
    }
    li {
      margin: .25em 0;
    }
  }
}

.blank-line {
  list-style: disc;
  &:not(.checklist) {
    font-style: normal;
    @media screen {
    }
  }
}

.inset {
  list-style: disc;
  &:not(.checklist) {
    font-style: normal;
    margin-left: 5em;
    @media screen {
    }
    li {
      margin: .25em 0;
    }
  }
}

.normal {list-style: disc;
&:not(.checklist) {
  font-style: normal;
  color: black;
  @media screen {
  }
  li {
    margin: .25em 0;
  }
}}


$numbered-section-size: 1.5em;
.numbered-section {
  font-family: $sans;
  color: $primary-color;
  font-size: 1.2em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: .08em;
  &:before {
    content: counter(numbered-section);
    border: 2px solid;
    background-color: #fff;
    border-radius: 50%;
    width: $numbered-section-size;
    height: $numbered-section-size;
    position: absolute;
    left: (($numbered-section-size * -1) - 1em);
    top: (($numbered-section-size - 1em) / -2);
    line-height: $numbered-section-size;
    text-align: center;
    letter-spacing: 0;
    counter-increment: numbered-section;
  }
  &-start {
    counter-reset: numbered-section;
  }
  @media print {
    color: inherit;
    font-size: 12pt;
  }
}

.sectioned-list {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: $primary-color;
    top: .5em;
    bottom: 0;
    left: 1px;
    @media print {
      background-color: currentColor;
      left: 10pt;
    }
  }
}

.numbered-list {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: $primary-color;
    top: .5em;
    bottom: 0;
    left: 1px;
    @media print {
      background-color: currentColor;
      left: 10pt;
    }
  }
}

.hidden {
  display: none;
}

.editable {
  display: inline-block;
  border-bottom: 2px dotted;
  transition: $transition;
  line-height: 1;
  position: relative;
  height: 1em;
  &:empty {
    width: 5em;
    border-bottom-style: solid;
    &:before {
      content: 'click to edit';
      font-family: $sans;
      font-size: 10px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: .25em;
      text-align: center;
    }
    &:focus:before {
      display: none;
    }
    &:after {
      content: attr(title);
      position: absolute;
      font-size: .3em;
      left: 0;
      right: 0;
      top: 4em;
      text-align: center;
    }
  }
  &:hover,
  &:focus {
    border-color: $primary-color;
  }
  @media print {
    border-bottom: none;
    &:empty {
      border-bottom: 1px solid;
      width: 12em;
    }
    &:before {
      display: none;
    }
  }
}

.checklist {
  list-style: none;
  li {
    position: relative;
    margin: 1em 0;
  }
  input[type='checkbox'] {
    position: absolute;
    left: -2em;
    top: .35em;
  }
  @media print {
    input[type='checkbox'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      border: 1pt solid #000;
      background: none;
      width: 1.2em;
      height: 1.2em;
      margin: -.2em .2em .2em -.2em;
      background-size: contain;
      &:checked {
        background-image: url(/images/check.svg);
      }
    }
    > li {
      margin-left: 3em;
    }
  }
}

////////////////////////////////////////////

nav {
  position: fixed;
  display: flex;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  border-bottom: 2px solid $primary-color;
  overflow: hidden;
  font-family: $serif;
  z-index: 1;
  font-size: .83333em;
  font-weight: 300;
  a {
    display: block;
    padding: 1em;
    position: relative;
    transition: $transition;
    text-decoration: none;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $primary-color;
      transform: translateY(100%);
      transition: $transition;
      z-index: -1;
    }
    &.active {
      &:before {
        transform: translateY(90%);
      }
    }
    &:hover {
      color: #fff;
      &:before {
        transform: translateY(0%);
      }
    }
  }
  @media (max-width: $break) {
    flex-direction: column;
    position: static;
    a {
      padding: .5em 1em;
    }
    a:hover {
      color: $primary-color;
    }
    a:before {
      display: none;
    }
  }
  @media print {
    display: none;
  }
}
.menu {
  position: fixed;
  background: $primary-color;
  color: #fff;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  border: 8px solid $primary-color;
  z-index: 2;
  @media (min-width: $break) {
    display: none;
  }
  @media print {
    display: none;
  }
}

////////////////////////////////////////////

article {
  page-break-after: always;
  overflow: hidden;
  min-height: calc(100vh - 3.5rem);
  @media (min-width: $break) {
    box-sizing: border-box;
    border-top: 3.5rem solid #fff;
  }
  &:not(.skip) {
    counter-increment: section;
  }
  body.edit & {
    display: block;
  }
}

header {
  background-color: $primary-color;
  color: #fff;
  margin: 0 0 5vw;
  padding: 10vw 5vw 5vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    max-width: calc(60px + 8vw);
    min-width: calc(60px + 8vw);
    padding-left: 5vw;
  }
  @media print {
    padding: 50pt 50pt 30pt;
    color: inherit;
    background: none;
    border-bottom: 2pt solid;
  }
}
.header-content {
  p {
    max-width: 40rem;
  }
}

section {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 5vw 5vw;
  @media print {
    margin: 0;
    padding: 0 50pt;
    max-width: 336pt;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  line-height: 1.2;
  margin: 1rem 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: calc(16px + 2vw);
  margin: .2em 0;
  strong {
    font-weight: 700;
  }
  @media print {
    font-size: 28pt;
  }
}

svg {
  fill: currentColor;
}

.print {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  width: 10vw;
  height: 10vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 70px;
  min-height: 70px;
  background-color: hsl(50deg,100%,60%);
  border: 2px solid #fff;
  color: hsl(50deg,100%,20%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transition;
  box-shadow: 0 0 0 0 hsl(50deg,100%,50%);
  &:hover {
    color: hsl(50deg,100%,2%);
    box-shadow: 0 0 12px 2px hsl(50deg,100%,50%);
    svg {
      transform: scale(1.1);
    }
  }
  svg {
    width: 50%;
    fill: currentColor;
    transition: $transition;
  }
  @media print {
    display: none;
  }
  .mobile & {
    display: none;
  }
}

////////////////////////////////////////////

.card {
  min-height: auto;
  margin: 5vw auto;
  @media screen {
    background-color: #eee;
  }
  @media print {
    width: 7in;
    height: 5in;
    border: 1px dashed #ddd;
    overflow: hidden;
    display: flex;
    font-size: 10pt;
    line-height: 1.5;
    padding: 0;
    section {
      margin: 0;
      max-width: none;
    }
  }
  h1 {
    color: $primary-color;
    font-weight: 700;
    font-size: 34pt;
    @media print{
      color: inherit;
    }
  }
  small {
    font-style: italic;
    line-height: 1.2;
  }
  .editable:empty {
    width: 8em;
  }
}
.card-content {
  padding: 24pt;
  p {
    font-size: 16pt;
    line-height: 3;
  }
}
.card-aside {
  position: relative;
  background-color: $primary-color;
  color: #fff;
  padding: 18pt 24pt 24pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    display: block;
    width: 72pt;
    height: 72pt;
  }
  @media print {
    min-width: 70pt;
    max-width: 70pt;
    color: inherit;
    background: none;
    border-left: 2pt solid;
    flex-direction: column;
  }
}
@media print {
  .card-aside-content {
    width: 72pt;
  }
}

#edit {
  label {
    display: block;
    margin: .5em 0;
  }
  @media print {
    display: none;
  }
}

////////////////////////////////////////////

@page {
  size: letter portrait;
  margin: 24pt;
  @top-left {
    content: '';
  }
  @top-right {
    content: '';
  }
  @bottom-left {
    content: '';
  }
  @bottom-right {
    content: '';
  }
}

@media print {
  a {
    color: inherit;
  }
  li a[href|='#']::after {
    content: counter(page);
  }
}
