<!-- checklist- need to develop content, return directions, post card -->
<!--
introduction
check list
  - paragraph that talks how awesome telehealth is
  -
thank you
-->
<!--
return sticker
-->
<!--
Appointment card
-->

<article id="cover" class="skip">
  <header>
    <img src="/images/cover.jpg" alt=" ">
    <h1>Home Telehealth Getting Started Kit</h1>
  </header>
</article>
<article id="toc" class="skip">
  <header>
    <h1>Table of Contents</h1>
  </header>
  <section>
    <ol>
      <li><a href="#welcome"><span class="keyword">Welcome</span> to telehealth</a></li>
      <li><a href="#fimiliarize"><span class="keyword">Fimiliarize</span> yourself with your tablet</a></li>
      <li><a href="#schedule"><span class="keyword">Schedule</span> and appointement</a></li>
      <li><a href="#return"><span class="keyword">Return</span> instructions</a></li>
      <li class="hidden sectionTelemental"><a href="#telemental"><span class="keyword">TeleMental Health</span> introduction</a></li>
    </ol>
  </section>
</article>
<article id="welcome">
  <header>
    <h1>Welcome to Home Telehealth</h1>
  </header>
  <section>
    <p>Welcome to Telehealth! Our goal is to provide Veterans with the right care, at the right place, and at the right time. Clinical Video Telehealth (CVT) aims to make the local community the preferred place of care whenever possible by bringing the best care to you. Telehealth provides Veterans with access to health care services from remote facilities, through the use of convenient and secure video conferencing technology. As a Veteran, you can now be connected to a healthcare provider in a different location with a real-time interaction. CVT provides great benefits and access to the best healthcare without having to make long trips to see your medical provider(s) in person.</p>
    <p>This Telehealth Getting Started Kit is designed to help guide you through the initial steps of the onboarding process. Once your device (tablet) arrives, please complete the items on the checklist. This will prepare you for first of many Telehealth appointments.</p>

    <p>Your provider is <span class="editable" id="providerName"></span> at the <span class="editable" id="providerFacility"></span> VA facility and can be reached at <span class="editable" id="providerContact"></span>.</p>

  </section>
</article>
<article id="fimiliarize">
  <header>
    <h1>Fimiliarize yourself with telehealth</h1>
  </header>
  <section>
    <ul class="checklist">
      <li><a href="mailto:provider@va.gov">Notify your provider</a> right away, that your device (tablet) has arrived</li>
      <li>Schedule your first appointment **</li>
      <li>Complete the enclosed appointment card with your appointment details</li>
      <li>Familiarize yourself with the device (charging, power on/off, volume, password/login) </li>
      <li>Familiarize yourself with the applications on the device </li>
      <p>*If you require technical support, please contact the Telehealth Technology Help Desk at 1-866-651-3180 (7AM-11PM ET Monday through Saturday)</p>
      <p>Thank you for your participation in the Telehealth program! (What would providers want this thank you section to include?)</p>
    </ul>
  </section>
</article>
<article id="schedule">
  <header>
    <h1>Scheduling an appointment</h1>
  </header>
  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem aliquam eveniet minima quaerat hic tempore voluptates incidunt at nobis. Praesentium dignissimos pariatur hic iste cum voluptate rerum ratione explicabo quis.</p>
  </section>
</article>
<article id="return">
  <header>
    <h1>Returning your tablet</h1>
  </header>
  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem aliquam eveniet minima quaerat hic tempore voluptates incidunt at nobis. Praesentium dignissimos pariatur hic iste cum voluptate rerum ratione explicabo quis.</p>
  </section>
</article>
<article id="telemental" class="hidden sectionTelemental">
  <header>
    <h1>Introduction to TeleMental Health</h1>
  </header>
  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem aliquam eveniet minima quaerat hic tempore voluptates incidunt at nobis. Praesentium dignissimos pariatur hic iste cum voluptate rerum ratione explicabo quis.</p>
  </section>
</article>
