<article id="edit" class="sectionMove hidden">
  <header>
    <div class="header-content">
      <h1><strong>Quick Start Guides</strong></h1>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>
  <section>
    <div id="editModules"></div>
    <div id="editURL"></div>
  </section>
</article>

<article id="welcome">
  <header>
    <div class="header-content">
      <h1>Welcome to <strong>Telehealth</strong></h1>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>
  <section>
    <p>Welcome to Telehealth!  Our goal is to provide Veterans with the right care, in the right place, and at the right time.  Clinical Video Telehealth (CVT) aims to make the Veteran’s local community the preferred place of care whenever possible.  We bring the best health care services to Veterans through the use of convenient and secure video conference technology.</p>
    <p>As a Veteran, you can now be connected to your VA health care provider in a virtual and real-time interaction. Telehealth provides great benefits and access to the best health care without having to make long trips to see your providers in person. </p>
    <p>This Welcome to Telehealth Kit is designed to help guide you through the initial steps of the onboarding process. Whether you use a VA-issued tablet or your own technology, please complete the items on the Quickstart Guide Checklist(s) in this Kit before your first appointment. </p>
    <p>Thank you for your participation in the Telehealth program. VA providers are committed to serving your health care needs in the most effective way possible. We want you to feel your best!</p>
  </section>
</article>

<article id="quickstarts">
  <header>
    <div class="header-content">
      <h1>Using a <strong>VA Device</strong></h1>
      <p>This guide will prepare you for your telehealth appointments using a device VA has sent you. We want you to feel comfortable as you connect with your provider using technology.  VHA is committed to serving your healthcare needs the best way possible!</p>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>
  <section>
    <ul class="checklist sectioned-list">
      <h2 class="numbered-section numbered-section-start">Scheduling your appointment</h2>
      <li>Contact the Help Desk right away to let them know your device has arrived. They will conduct a test to make sure that everything works properly.
        <ul>
          <li>National Telehealth Technology Help Desk (NTTHD)<br>1-866-651-3180 <br>
            (7 AM–11 PM EST, 4 AM-8 PM PST, Monday through Saturday)</li>
        </ul>
      </li>
      <li>Schedule your first appointment by contacting your scheduler at <span class="editable"></span>.</li>
      <li>Complete the enclosed appointment card or add the appointment to your calendar to help you remember the appointment details.

          <li>Prior to your appointment, you will receive an email with the link you will use to connect with your provider. Please be sure to save this email.</li>
          <li>5 minutes before the appointment time, open your email on the tablet and click on the link to join the appointment. Wait for the provider to join you.</li>
          <li>If you are not using email to connect with your provider, 5 minutes before the appointment time, find and touch the VMR icon on your tablet home screen.</li>
          <li>If you run into any technical difficulties, contact the Help Desk at 1-866-651-3180.</li>

      </li>
      <h2 class="numbered-section">Using your VA-issued tablet</h2>
      <li>Familiarize yourself with the tablet. Please refer to the instructions that came with your tablet.</li>
      <li>Familiarize yourself with the applications (software) on the tablet. The VA applications you need for Telehealth have been pre-loaded. No other applications can be added to the tablet.</li>
    </ul>
  </section>

  <header>
    <div class="header-content">
      <h1>Using a <strong>Personal Device</strong></h1>
      <p>This guide will prepare you for your telehealth appointments using your own device. We want you to feel comfortable as you connect with your provider using technology.  VHA is committed to serving your healthcare needs the best way possible!</p>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>
  <section>
    <ul class="checklist sectioned-list">
      <h2 class="numbered-section numbered-section-start">Getting Set Up</h2>
        <p class="blank-line">To ask questions about using VA Video Connect (VVC) or to test your device before your appointment, use the test site link: mobile.va.gov/app/va-video-connect</p>
        <p class="blank-line" <li>For technical assistance at any point in this process, contact</p>
          <ul>
            <li>National Telehealth Technology Help Desk (NTTHD)<br>1-866-651-3180 <br>
              (7 AM–11 PM EST, 4 AM-8 PM PST, Monday through Saturday)</li>
          </ul>
        </li>
      <h2 class="numbered-section">Scheduling Your Appointment</h2>
          <li>Schedule your first appointment, reschedule, or cancel an appointment by contacting your scheduler at  <span class="editable"></span>.</li>
              <li>Complete the enclosed appointment card or add the appointment to your calendar to help you remember the appointment details.</li>
                <p class="blank-line"><strong>Personal computers or Android/Windows mobile devices:</strong></p>
                  <li>Before your appointment, you will receive an email. Please save this email.</li>
                  <li>5 minutes before the appointment time, open your email on the tablet and click on the link to join the appointment. Wait for the provider to join you.</li>
                <p class="blank-line"><strong>Apple Devices:</strong></p>
                  <li>Before your first appointment, you will receive an email. At the bottom of the email, click the button to download the VA Video Connect app.</li>
                  <li>Once the VA Video Connect app has downloaded, go back to the email and close it. Please save the email.</li>
                <li>5 minutes before the appointment time, open the app to connect with your provider.</li>
        </ul>
</ul>

  </section>
</article>

<article id="appointment" class="card">
  <section class="card-content">
    <h1>Telehealth appointment card</h1>
    <p>My appointment with <span class="editable" title="Doctor, nurse, or department name"></span> is scheduled for: <span class="editable" title="Date of appointment"></span> at <span class="editable" title="Time of appointment"></span>. I talked to <span class="editable" title="Name of Scheduler (if you asked)"></span> to schedule this appointment.</p>
  </section>
  <aside class="card-aside">
    <div class="card-aside-content">
      <p>Please use this appointment card to note the time and day of your upcoming appointment.</p>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </aside>
</article>

<article id="rules">
  <header>
    <div class="header-content">
      <h1><strong>Rules</strong> for using a VA-Issued Device</h1>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>
  <section>
    <p>You are receiving a Mobile Telecommunications Device with computing capabilities because you have chosen to participate in Telehealth. We extend a warm welcome to you!  The Department of Veterans Affairs is pleased to provide this equipment for your VA Telehealth visits. The equipment must be returned when one of the following actions has been taken:
</p>
    <ol class="sectioned-list">
      <li>You decide to discontinue treatment</li>
      <li>Your clinician has determined that treatment has been completed </li>
      <li>Facility staff request the return of the equipment</li>
    </ol>
    <p>The equipment is part of an inventory that is utilized for Veterans who do not own this type of equipment but would like to enroll in Telehealth. Please take care of the equipment so that it can be issued to one of your fellow Veterans who enroll in the Telehealth Program in the future.
</p>

<p><strong>Protecting Your Personal Information</strong></p>
<p>We want to work with you to ensure your personal information is protected. The VA will not enter any protected health information or information about your identity into this device. If you choose to enter such information, please protect this information as you would any other personal information, as the VA is not responsible for the security of this information if the device is misplaced, lost or stolen. To protect your personal information, we highly recommend that you do not enter this information on the device.</p>
<p><strong>Use of Equipment and Internet</strong></p>
<p>The equipment and the internet are provided for your telehealth care and can also be used as directed by your provider. Please be mindful to use the equipment and internet for these purposes only to ensure that we can provide internet and equipment for your fellow Veterans as well.  We are required to monitor usage of data to ensure that all Veterans enrolled in telehealth have sufficient availability of internet.</p>
<p><strong>Lost or Stolen Device</strong></p>
<p>Should your device be lost or stolen, please file a police report as soon as possible, and notify your clinician and the staff at the VA facility from where you receive care. They will need the number of the police report.</p>
</article>

<article id="caring">
  <header>
    <div class="header-content">
      <h1><strong>Caring</strong> for your device</h1>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>
  <section>
<p><strong>Please follow these rules while the device is in your possession:</strong></p>
  <ul class="normal">
  <li>Keep it in the protective case.</li>
  <li>Ensure it has at least a 70% charge before beginning a video session.</li>
  <li>Avoid using it near food or water, direct sunlight, magnetic fields, and dusty environments.</li>
  <li>Dust it with a soft cloth and avoid the use of spray cleaners or disinfectants.</li>
  <li>Do not change any of the settings, as this may affect the functionality of your device.</li>
  <li>Do not remove the SIM card, as this will affect the device’s mobile broadband connection.</li>
</ul>
  <p>If you have problems with your device, call the National Telehealth Technology Help Desk at 1-866-651-3180 (7 AM – 11 PM EST, 4 AM - 8 PM PST, Monday through Saturday).</p>

<p><strong>Once again, welcome to Telehealth! The VA is pleased to offer you this modality of treatment!</strong></p>

  </section>
</article>

<article id="returning">
  <header>
    <div class="header-content">
      <h1><strong>Returning</strong> a VA-Issued device</h1>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>
  <section>
    <p>Please remember that the tablet is Federal property and you are responsible for returning it when you are no longer participating in video consults with your provider. </p>
    <p>You are also responsible for maintaining the tablet in its current condition which will allow it to be used by other Veterans in the future. </p>
    <p>Options for returning the tablet:</p>
    <ul class="checklist sectioned-list">
      <li>When it is time to return your tablet, please contact <span class="editable"></span>. A pre-paid shipping box will be sent to you.  Please include the tablet and the accessories that came with it (plug and cord).</li>
      <li>When it is time to return your tablet, you can bring it to your local VA medical facility and they will take care of getting it returned.</li>
      <li>When it is time to return your tablet, your <span class="editable"></span> will send you a pre-paid shipping "retrieval kit". Please include the tablet and accessories that came with it (plug and cord).</li>
    </ul>
  </section>
</article>

<article id="telemental" class="sectionTelemental hidden">
  <header>
    <div class="header-content">
      <h1>Getting started with <strong>Telemental</strong></h1>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>
  <section>
    <p>Telemedicine, also known as telehealth, uses electronic communications and information technology to provide and support healthcare when distance separates patients from the clinician (1). Telemedicine uses various communication methods to connect clinicians and patients in lieu of their meeting in person.</p>
    <p>The term "telemental health services" typically refers to behavioral health services that are provided using communication technology. These services include clinical assessment, individual and group psychotherapy, psycho-educational interventions, cognitive testing, and general psychiatry. The term telemental health describes the overall situation in which a clinician uses various technologies to deliver mental health care to a patient who is miles away.</p>
    <p>The major benefit of telemental health is that it eliminates travel that may be disruptive or costly. In addition, telemental health is a useful tool in situations, such as in correctional and forensic settings, where it is difficult to transport the patient to a clinician. Telemental health also allows mental health providers to consult with or provide supervision to one another.</p>
  </section>
</article>

<article id="move" class="sectionMove hidden">
  <header>
    <div class="header-content">
      <h1>Getting started with <strong>MOVE!</strong></h1>
    </div>
    <svg viewBox="0 0 85 80"><use xlink:href="#va-seal"></use></svg>
  </header>
  <section>
    <p>Welcome to the MOVE! Weight Management Program, supported by VA's National Center for Health Promotion and Disease Prevention (NCP). We at NCP are proud to make this program available to our Veterans. Now in its second decade, MOVE! includes the most up-to-date approaches for weight management. Please explore our website to learn more about MOVE!</p>
    <p>What is MOVE!?  MOVE! is a weight management, health promotion program designed to improve the lives of Veterans. MOVE!’s core ideas—encouraging healthy eating behavior, increasing physical activity, and promoting even small weight losses—are easy to follow and based on the latest in nutrition science. With the help of your MOVE! care team, you can reduce health risks, prevent or reverse certain diseases, improve your quality of life, and even live longer!</p>
    <p>If you would like to learn more about how MOVE! has helped thousands of Veterans achieve those goals, make sure to read our <a href="https://www.move.va.gov/MOVE/SuccessStories">MOVE! Success Stories</a>.</p>
  </section>
</article>
